.playground {
    background-color: #E7E9EB;;
    /* width: 100%; */
    border: 2px solid #E7E9EB; ;
    /* height: 80vw; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: space-around;
    padding: 2%;
    gap: 5%;

}

.properties {
    /* background-color: gray; */
    min-width: 30%;
    max-width: 80vw;
    /* border: 2px solid gray ; */
    /* display: flex;
    flex-direction: column; */
    /* height: 80vw; */
}

.screen {
    background-color: white;
    min-width: 280px;
    max-width: 68%;
    height: 80vh;
    flex: 1 1 auto;
    border: 2px solid white;
}

.screen {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* perspective: 700px; */
}
.screen > p {
    width: 100px;
    height: 120px;
    padding: 1%;
    background-color: powderblue;
}

label {
    width: 80%;
    display: inline-block;
    /* border: 2px solid; */
    padding: 2%;
    margin-bottom: 2%;
    background-color: rgba(40, 44, 52, 0.733);
}

#violet {
    color: #c5a5c5;
    font-weight: bold;
}

#green {
    color: #88c999;
    font-weight: bold;
}

label:hover {
    background-color: black;
}

.properties:has(#rt45:checked) ~ .screen > p {
    transform: rotate(45deg);
}

.properties:has(#r3d60:checked) ~ .screen > p  {
    transform: rotate3d(0, 1, 0, 60deg);
}

.properties:has(#rx100:checked) ~ .screen > p {
    transform: rotateX(100deg);
}

.properties:has(#ry80:checked) ~ .screen > p {
    transform: rotateY(80deg);
}

.properties:has(#rz90:checked) ~ .screen > p {
    transform: rotateZ(90deg);
}

.properties:has(#sk30:checked) ~ .screen > p {
    transform: skew(30deg,30deg);
}

.properties:has(#sx40:checked) ~ .screen > p {
    transform: skewX(40deg);
}

.properties:has(#sy40:checked) ~ .screen > p {
    transform: skewY(40deg);
}

.properties:has(#t20:checked) ~ .screen > p {
    transform: translate(20px,20px);
}

.properties:has(#sc2:checked) ~ .screen > p {
    transform: scale(2,2);
}

.properties:has(#sx50:checked) ~ .screen > p {
    transform: scaleX(50%);
}

.properties:has(#sy1:checked) ~ .screen > p {
    transform: scaleY(1.5);
}

.properties:has(#mx:checked) ~ .screen > p {
    transform: matrix(0.586,0.8,-0.8,0.586,0,0);
}



