body {
    background-color: powderblue;
}

.knob {
    border: 3px solid goldenrod;
    height: 15px;
    width: 15px;
    border-radius: 10px;
    margin-left: 144px;
    margin-bottom: -1px;
    background-color: goldenrod;
}

.d1 {
    border: 3px solid black;
    height: 500px;
    width: 3px;
    background-color: black;
    margin-left: 150px;
}

.st1 {
    width: 100px;
    height: 10px;
    border: 5px solid brown;
    border-radius: 50%; /* Creates an ellipse */
    margin-left: 100px;
    background-color: brown;
}

.gap1 {
    border: 1px solid brown;
    padding: 10px;
    width: 88px;
    margin-left: 100px;
    margin-top: -10px;
    background-color: brown;
}

.st2 {
    width: 200px;
    height: 10px;
    border: 5px solid brown;
    border-radius: 50%; /* Creates an ellipse */
    margin-left: 50px;
    margin-top: -10px;
    background-color: brown;
}

.gap2 {
    border: 1px solid brown;
    padding: 10px;
    width: 188px;
    margin-left: 50px;
    margin-top: -10px;
    background-color: brown;
}

.st3 {
    width: 300px;
    height: 10px;
    border: 5px solid brown;
    border-radius: 50%; /* Creates an ellipse */
    margin-top: -10px;
    background-color: brown;
}

.gap3 {
    border: 1px solid brown;
    padding: 10px;
    width: 288px;
    margin-top: -10px;
    background-color: brown;
}

.st4 {
    width: 300px;
    height: 10px;
    border: 5px solid brown;
    border-radius: 50%; /* Creates an ellipse */
    margin-top: -10px;
    background-color: brown;
}
  
.b1 {
    border: 2px solid orange;
    margin-left: 157.5px;
    margin-top: -570px;
    height: 60px;
    width: 250px;
    background-color: orange;
}
 
.b2 {
    border: 2px solid white;
    margin-left: 157.5158px;
    height: 60px;
    width: 250px;
    background-color: white;
}

 
.b3 {
    border: 2px solid green;
    margin-left: 157.5px;
    height: 60px;
    width: 250px;
    background-color: green;
}

#chakra {
    border: 2px solid blue;
    padding: 10px;
    height: 38px;
    width: 38px;
    border-radius: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#p1 {
    width: 2px;
    height: 60px;
    background-color: blue;
    transform: rotate(10deg);
    transform-origin: center;  
}

#p2 {
    width: 2px;
    height: 60px;
    background-color: blue;
    transform: rotate(15deg);
    transform-origin: center;
}

#p3 {
    width: 2px;
    height: 60px;
    background-color: blue;
    transform: rotate(15deg);
    transform-origin: center;
}

#p4 {
    width: 2px;
    height: 60px;
    background-color: blue;
    transform: rotate(15deg);
    transform-origin: center;
}

#p5 {
    width: 2px;
    height: 60px;
    background-color: blue;
    transform: rotate(15deg);
    transform-origin: center;
}

#p6 {
    width: 2px;
    height: 60px;
    background-color: blue;
    transform: rotate(15deg);
    transform-origin: center;

#p7 {
    width: 2px;
    height: 60px;
    background-color: blue;
    transform: rotate(15deg);
    transform-origin: center; 
}

#p8 {
    width: 2px;
    height: 60px;
    background-color: blue;
    transform: rotate(15deg);
    transform-origin: center;

#p9 {
    width: 2px;
    height: 60px;
    background-color: blue;
    transform: rotate(15deg);
    transform-origin: center; 
}

#p10 {
    width: 2px;
    height: 60px;
    background-color: blue;
    transform: rotate(15deg);
    transform-origin: center;
}

#p11 {
    width: 2px;
    height: 60px;
    background-color: blue;
    transform: rotate(15deg);
    transform-origin: center;
}

#p12 {
    width: 2px;
    height: 60px;
    background-color: blue;
    transform: rotate(16deg);
    transform-origin: center;
}

