body {
    background-color: powderblue;
}

.knob {
    border: 3px solid goldenrod;
    height: 15px;
    width: 15px;
    border-radius: 10px;
    margin-left: 144px;
    margin-bottom: -1px;
    background-color: goldenrod;
}

.d1 {
    border: 3px solid black;
    /* padding: 20px; */
    height: 600px;
    width: 3px;
    background-color: black;
    margin-left: 150px;
    /* border-left: 5px solid black; */
}

.st1 {
    width: 100px;
    height: 10px;
    border: 5px solid brown;
    border-radius: 50%; /* Creates an ellipse */
    margin-left: 100px;
    background-color: brown;
}

.gap1 {
    border: 1px solid brown;
    padding: 10px;
    width: 88px;
    margin-left: 100px;
    margin-top: -10px;
    background-color: brown;
}

.st2 {
    width: 200px;
    height: 10px;
    border: 5px solid brown;
    border-radius: 50%; /* Creates an ellipse */
    margin-left: 50px;
    margin-top: -10px;
    background-color: brown;
}

.gap2 {
    border: 1px solid brown;
    padding: 10px;
    width: 188px;
    margin-left: 50px;
    margin-top: -10px;
    background-color: brown;
}

.st3 {
    width: 300px;
    height: 10px;
    border: 5px solid brown;
    border-radius: 50%; /* Creates an ellipse */
    margin-top: -10px;
    background-color: brown;
}

.gap3 {
    border: 1px solid brown;
    padding: 10px;
    width: 288px;
    margin-top: -10px;
    background-color: brown;
}

.st4 {
    width: 300px;
    height: 10px;
    border: 5px solid brown;
    border-radius: 50%; /* Creates an ellipse */
    margin-top: -10px;
    background-color: brown;
}
  
.b1 {
    border: 2px solid orange;
    margin-left: 157.5px;
    margin-top: -670px;
    height: 60px;
    width: 350px;
    background-color: orange;
}
 
.b2 {
    border: 2px solid white;
    margin-left: 157.5px;
    height: 60px;
    width: 350px;
    background-color: white;
}

 
.b3 {
    border: 2px solid green;
    margin-left: 157.5px;
    height: 60px;
    width: 350px;
    background-color: green;
}

img {
    margin-left: 150px;
}
