body {
    background-color: powderblue;
}
#one {
    border: 2px solid black;
    height: 150px;
    width: 100px;
    margin: auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: black;
}

#one-1 {
    width: 50px;
    border: 3px solid white;
    margin: 60px auto 10px;
}

#one-2 {
    width: 50px;
    border: 3px solid white;
    margin: 10px auto  10px;
}

#one-3 {
    width: 50px;
    border: 3px solid white;
    margin: 10px auto;
}

#two {
    border: 2px solid black;
    height: 50px;
    width: 240px;
    margin: auto;
    background-color: black;

}

#three {
    border: 2px solid black;
    height: 50px;
    width: 180px;
    margin: auto;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: black;

}

#four {
    border: 2px solid black;
    height: 50px;
    width: 180px;
    margin: auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: black;

}

#five {
    border: 2px solid black;
    height: 50px;
    width: 240px;
    margin: auto;
    background-color: black;

}

#six {
    border-top-right-radius: 30px;

    border-top: 20px solid black;
    border-right: 20px solid black;
    height: 30px;
    width: 290px;
    margin: -5px auto 0px;
}